:root {
  --font-family-base: "Roboto", sans-serif;

  --font-size-xxs: 11px;
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-2xl: 20px;
  --font-size-3xl: 22px;

  --line-height-tight: 1.1;
  --line-height-snug: 1.2;
  --line-height-base: 1.25;
  --line-height-relaxed: 1.5;

  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-semibold: 700;
  --font-weight-bold: 800;
  --font-weight-extrabold: 900;
  --font-weight-black: 950;
}
