:host {
  display: block;
}

.ui-pagination {
  display: flex;
  align-items: center;
  gap: var(--space-6);

  &__pages {
    display: flex;
    align-items: center;
    gap: var(--space-4);
  }

  &__ellipsis {
    color: var(--color-text-soft);
    font-size: var(--font-size-xs);
  }
}
